<div class="content_right">
  <div class="content_container">
    <div class="breadcrumb">
      Instructions on taking an online test in Portal</div>
    <h3>Instructions on taking an online test in Blackboard</h3>
    <p>
      <b>Step 1.</b> Check Your Browser Options before the Test to ensure that it is not set to disconnect after several minutes
      of inactivity.</p>

    <p>* The location of this setting depends on your browser. For example, in Internet Explorer 5, 6, 7 &amp; 8 it is located
      under Tools&gt;Internet Options&gt;Connections&gt;Settings&gt; Advanced
      <br /> * If you have an Internet Service Provider that will break your connection if you don.t visit a new site after a certain
      period of time, then keep another window open and occasionally visit it and load a new page or refresh the page to
      keep your connection open.</p>
    <p>
      <b>Step 2.</b> Do Not Use the "Back" Button on Your Browser During the Test once you have begun taking the quiz. Instead,
      use the scroll bar to move back to check earlier questions.
      <br /> Don't close the window of the test for any reason.</p>
    <p>If something goes wrong, send an e-mail to your professor immediately, documenting the exact problem and asking how you
      should proceed. Include your username and the course and section number.</p>
    <p>
      <b>Step 3.</b> Review All of Your Answers Before Submitting the Quiz. Make sure you have not accidentally changed your
      response to a question or made a typographic mistake.</p>
    <p>
      <b>Step 4.</b> When you are satisfied with the result make sure you finish by clicking the SUBMIT button at the bottom
      of the screen. Click the Submit Button ONLY ONCE!
      <br />After you submit the test answers, you will receive a score unless you have exceeded the time limit for the quiz.</p>
    <p>To Check Your Grades: Click "Student Tools" then "Check your grade". You will see only your grades.</p>
    <p>Keep In Mind: It is important that you click the SUBMIT button every time you access an online assessment. Even if you
      are just logging on to print the quiz, you must click the submit button. Otherwise you will be locked out of the exam.</p>
  </div>
</div>
<div class="mystyles-center">
  <div class="mystyles-container">
    <div class="mystyles-show-inline-block">
      <div class="mystyles-bar mystyles-center">
        <br>
        <button [routerLink]="['/Test']" class="nav-item nav-link-edit mystyles-btn mystyles-red mystyles-padding-large mystyles-hover-black">Ready To take test</button>&nbsp;&nbsp;&nbsp;
        <input class="btn btn-primary" action="action" onclick="window.history.go(-1); return false;" type="button" value="Back"
        />
        <br>
      </div>
    </div>
  </div>
</div>