<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
              <ul class="nav navbar-nav navbar-right">
                    <li><a [routerLink]="['/register']" class="nav-link"><span class="glyphicon glyphicon-user"></span> SignUp</a></li>
                    <li><a [routerLink]="['/login']" class="nav-link"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                </ul>
        </div>
    </nav>
  </header>
<div class="bgi mystyles-display-container mystyles-animate-opacity mystyles-text-red">
 <div class="mystyles-display-top">
    <h1 class="mystyles-jumbo mystyles-animate-top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quiz-Application</h1>
    <hr class="mystyles-border-grey" style="margin: auto; width: 40%">

   

  </div>
</div>