<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a [routerLink]="['']" class="nav-link">
            <span class="glyphicon glyphicon-user"></span> Home</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li>
          <a [routerLink]="['/register']" class="nav-link">
            <span class="glyphicon glyphicon-user"></span> SignUp</a>
        </li>

      </ul>
    </div>
  </nav>
</header>
<div class="bgimg3">
  <div class=" login-form" autocomplete="off">
    <h1 class=" mystyles-animate-top mystyles-text-yellow">
      <b>Login</b>
    </h1>
    <form name="myForm">
      <input type="text" [(ngModel)]="username" name="username" placeholder="Username" #uname="ngModel" required>
      <div *ngIf="uname.invalid && (uname.dirty || uname.touched)" class="alert alert-danger">
        <div *ngIf="uname.errors.required">
          <span style="color: red;"> Please Enter Username/email</span>

        </div>

      </div>
      <input type="password" [(ngModel)]="password" name="password" placeholder="password" #pswd="ngModel" required>
      <div *ngIf="pswd.invalid && (pswd.dirty || pswd.touched)" class="alert alert-danger">
        <div *ngIf="pswd.errors.required">
          <span style="color: red;"> please enter password</span>
        </div>
      
      </div>
      <button class="button" (click)="OnClick(uname.value,pswd.value)" style="width:300px;margin-left:0%">Login</button>
    </form>
  </div>
</div>