<app-adminprofile></app-adminprofile>
<div class="bgimg">
  <div class="content_right">
    <div class="content_container">
      <div class="breadcrumb">
        <h1> Select The Level </h1>
        <div class="mystyles-center">
          <div class="mystyles-container">
            <div class="mystyles-show-inline-block">
              <div class="mystyles-bar mystyles-center">

                <button [routerLink]="['/add']" class="nav-item nav-link-edit mystyles-btn mystyles-red mystyles-padding-large mystyles-hover-black">Add the Technology</button> &nbsp; &nbsp; &nbsp; &nbsp;

                <button [routerLink]="['/del']" class="nav-item nav-link-edit mystyles-button mystyles-red mystyles-padding-large mystyles-hover-black">Delete the technology</button> &nbsp; &nbsp; &nbsp; &nbsp;

              </div>
            </div>
          </div>
        </div>
        <input class="btn btn-primary" action="action" onclick="window.history.go(-1); return false;" type="button" value="Back"
        />
      </div>
    </div>
  </div>
</div>